@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1730095533425') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mugua:before {
  content: "\e62e";
}

.icon-pipa:before {
  content: "\e62d";
}

.icon-juzi:before {
  content: "\e62f";
}

.icon-pingguo:before {
  content: "\e630";
}

.icon-boluo:before {
  content: "\e631";
}

.icon-lanmei:before {
  content: "\e632";
}

.icon-li:before {
  content: "\e633";
}

.icon-longyan:before {
  content: "\e634";
}

.icon-caomei:before {
  content: "\e635";
}

.icon-ningmeng:before {
  content: "\e636";
}

.icon-mangguo:before {
  content: "\e637";
}

.icon-lizi:before {
  content: "\e638";
}

.icon-liulian:before {
  content: "\e639";
}

.icon-shanzha:before {
  content: "\e63a";
}

.icon-putao:before {
  content: "\e63b";
}

